 @page
@model AboutModel
@{
    ViewData["Title"] = "À Propos";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/aboutpage.css")" rel="stylesheet" type="text/css" />
}

<div class="about-body">
    <div class="about-block">
            <div id="about-display">
            </div>
                <div class=about-image1>
                     <img src="images/LEO.jpg" height="50%" style="
                      height: 400px;
                      width: 1400px;">  
                      <div class ="about-box">
                      <div class="about-text">
                          <div class="about-titre">Cahier des charges
                          </div>
               Le cahier des charges se divise en deux parties, l’une traitera des demandes et attentes venant
du corps enseignant et l’autre des demandes et attentes du pôle communication de l’ISEN.<br>

Cette partie se base sur les demandes du projet de l'isen : <br>
<br>
— Afficher les informations des capteurs du mur<br>
— Pouvoir se connecter sur un compte admin<br>
— Communiquer avec le serveur pour avoir les dernières données du serveur<br>
<br>
                      </div>
                </div>
                
    </div>
</div>
</div>