@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
}
<! DOCTYPE html>

<div class="home-body">
    <div class="home-titre">Mur végétal
    </div>
</div>
