@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
}
<! DOCTYPE html>
<div class="home-full">


    <div class="home-titre"> Mur végétal</div>
    <div class="home-body">
    <div class="box-body">
      <div class="box">
        <img src="images\plante1.png">
        </div>
      <div class="box">
        <img src="images/plante1.png">
        </div>
      <div class="box">
        <img src="images/plante1.png">
        </div>
      <div class="box">
        <img src="images/plante1.png">
        </div>
      <div class="box">
        <img src="images/plante1.png">
        </div>
      <div class="box">
        <img src="images/plante1.png">
        </div>
    </div>
</div>
</div>
