@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}

<div class="home-body">
    <div class="wall-box box">
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i1" src="~/images/icones/lumiere.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Luminosité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i2" src="~/images/icones/air.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Qualité d'air </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i3" src="~/images/icones/pression.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Commande pompe </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i4" src="~/images/icones/hydro.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Humidité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i5" src="~/images/icones/mouvement.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Flux entrant/sortant </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/pression_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Pression ruche </a></div>  
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/thermo_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Température ruche </a></div>  
        </div>
    </div>



     <div class="wall-box2 box">
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i1" src="~/images/icones/lumiere.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Luminosité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i2" src="~/images/icones/air.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Qualité d'air </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i3" src="~/images/icones/pression.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Commande pompe </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i4" src="~/images/icones/hydro.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Humidité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i5" src="~/images/icones/mouvement.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Flux entrant/sortant </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/pression_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Pression ruche </a></div>  
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/thermo_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Température ruche </a></div>  
        </div>
    </div>


 <div class="wall-box3 box">
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i1" src="~/images/icones/lumiere.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Luminosité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i2" src="~/images/icones/air.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Qualité d'air </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i3" src="~/images/icones/pression.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Commande pompe </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i4" src="~/images/icones/hydro.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Humidité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i5" src="~/images/icones/mouvement.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Flux entrant/sortant </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/pression_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Pression ruche </a></div>  
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="/Wall"> <img class="i6" src="~/images/icones/thermo_ruche.png"/> </a></div>
            <div class="wall-text"><a href="/Wall"> Température ruche </a></div>  
        </div>
    </div>

</div>


<!-- <script type="text/javascript" src="@Url.Content("~/lib/tilt/tilt.jquery.js")"></script>
<script>
    $('.box').tilt({
    perspective: 2000,
    easing:         "cubic-bezier(.03,.98,.52,.99)"
    })
</script>
     -->
