@page
@model IndexModel
@{
    ViewData["Title"] = "Mur Végétal";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}

<html>
<head>Mur Vegetal</head>

<body>
<div class="grid-container">
 <div class="grid-item"><img src="logo.png" /></div>
 <div class="grid-item"><img src="logo.png"  /></div>
 <div class="grid-item"><img src="logo.png"  /></div>
 <div class="grid-item"><img src="logo.png" /></div>
 <div class="grid-item"><img src="logo.png"  /></div>
 <div class="grid-item"><img src="logo.png"  /></div>
</div>
</body>
</html>
